@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400,700&display=swap');

// Customizations

$font-family-sans-serif:  'Open Sans', sans-serif !default;
$headings-font-family:    'Roboto', sans-serif !default;
$headings-font-weight:    bold !default;
$headings-color:          #223654 !default;

$body-bg: #FFFFFF;
$body-color: #000000;

$btn-font-family: roboto;
$btn-font-weight: bold;
$theme-colors: (
  "primary": #223654,
  "qc-ca": #095797,
  "white": #FFFFFF
);
$primary: #223654;

$btn-padding-y:               0;
$btn-padding-x:               35px;
$btn-font-family:             $font-family-sans-serif;
$btn-font-size:               20px;
$btn-border-weight:           bold;
$btn-line-height:             72px;
$btn-border-radius:           8px;
$btn-border-width:            3px;

// All of bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Composantes
@import "@/assets/scss/boutons";
@import "@/assets/scss/typographie";
@import "@/assets/scss/navigation";
@import "@/assets/scss/ariane";
@import "@/assets/scss/layout";
@import "@/assets/scss/formulaire";

  .delay-1 {
    animation-delay: .25s;
  }
  .delay-2 {
    animation-delay: .35s;
  }
  .delay-3 {
    animation-delay: .40s;
  }
    
    .col-gauche {
    
        ul {
            list-style-type: none;
            margin: 32px 0 0 0;
            padding: 0;
      
            li {
              margin-bottom: 32px;
      
              img {
                margin-right: 16px;
              }
            }
          }
    
    }
    

