/** FIL D'ARIANE */
.breadcrumb {

    border-radius: 0;
    background-color: transparent;
    padding: 0 0 0 15px;
    height: 80px;
    line-height: 80px;
  
    li.breadcrumb-item {
  
      color: white;
  
      &::before {
        color: white;
      }
  
      a {
        color: white;
      }
      
    }
  
  }