/** BOUTONS */


.btn-gum {
    background-color: white;
    border-color: #095797;
    color: #095797;
    transition: background-color .5s, color .5s;

    &:hover, &:focus {

        background-color: #095797;
        box-shadow: none;
        color: white;
    }

}


.btn-inverse {
    background-color: #095797;
    border-color: white;
    color: white;
    transition: background-color .5s, color .5s;

    &:hover, &:focus {

        background-color: white;
        box-shadow: none;
        color: #095797;
    }

}


#btnUp {

    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #223654;
    padding: 0;
    border-color: transparent;
    border-radius: 60px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: fixed;
    bottom: 30px;
    right: 30px;

    img {
        position: relative;
        top: -3px;    
    }
}

#btnUp.visible {
    visibility: visible;
    opacity: 1;  
}