/** LAYOUT */

html, body, #__nuxt, #__layout {
 
    @include media-breakpoint-up(md) {    
       height: 100%;
    }
  }
  
  body {
  
    padding-top: 170px;
  
    @include media-breakpoint-up(md) {    
      background: rgba(255,255,255,1);
      background: linear-gradient(90deg, rgba(34,54,84,1) 41%, rgba(255,255,255,1) 41%);
    }

    header {
      @include media-breakpoint-up(md) {    
        background: rgba(255,255,255,1);
        background: linear-gradient(90deg, rgba(34,54,84,1) 41%, rgba(255,255,255,1) 41%);
      }    

    }
  
    .container {
  
      @include media-breakpoint-up(sm) {    
        max-width: 1440px;
      }
    }
  }

  .col-gauche {

    padding-top: 100px;
    padding-bottom: 20px;
  
    .inner {
  
      max-width: 100%;
      margin: 0 auto;
      
      @media (min-width: 768px) and (max-width: 1126px) {
  
        position: fixed;
        top: 150px;
        max-width: 280px;
        z-index: 1030;
      }
  
      @media (min-width: 1127px) {
        position: fixed;
        max-width: 450px;
      }    
    }
  }
  
.col-droite {

  article, form {
      padding-top: 100px;
      max-width: 70%;
      margin: 0 auto;

      section {
        margin-top: 52px;

          &:first-of-type {
            margin-top: 0;
          }
      }

  }  

}

