html {
  scroll-behavior: smooth;
}

header.fixed-top {
  transition: all 1s ease-out; 
}

.navigation-principale {

    height: 90px;
    line-height: 90px;

    .nav-droite {

      text-align: right;

      ul {
        list-style-type: none;
        margin:0;
        padding:0;

        li {
          display: inline;
          margin-left: 30px;

          a {

            display: inline-block;

          }

          button {

            padding: 0;
            border:none;
            background: none;

          }

        }

      }

    }

  }
  

