.vignettes {

    text-align: center;
    padding-top:100px;

    h1 {
        color:black;
    }


    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        
        li {

            margin-bottom: 30px;

            @include media-breakpoint-between(sm, md) {

                float: left;
                $largeur-vignette: 48%;
                $marge-vignette: 4%;  
                width: $largeur_vignette;           
                margin-right: $marge-vignette;
                margin-bottom: $marge-vignette;

                &:nth-child(even) {

                    margin-right: 0;
                }

                &:last-child:nth-child(odd) {

                    margin-left: ($largeur-vignette / 2) + 2.5;
                    margin-right: 0;
            
                }

            }
            
            @include media-breakpoint-up(lg) {

                float: left;
                $largeur-vignette: 31.532%;
                $marge-vignette: 2.703%;  
                width: $largeur_vignette;           
                margin-right: $marge-vignette;
                margin-bottom: $marge-vignette;

                &:nth-child(3n) {
                    margin-right: 0;
                }


                // s'il y a 5 vignettes alors on centre la 4eme vignette
                @include has-nth(5, 'li') { 

                    &:nth-child(4) {

                        margin-left: $largeur-vignette / 2;
                    }

                }
                
                // s'il y a 4 vignettes alors on centre la 4eme vignette
                @include has-nth(4, 'li') { 

                    &:nth-child(4) {

                        margin-left: $largeur-vignette + 2.8;
                    }

                }                  

            }            

            a {

                display: block;
                border: 2px solid #DAE6F0;
                border-radius: 5px;                 
                height: 300px;
                text-align: center;
                color: black;  
                position: relative;
                top: 0;                
                transition: all .3s ease-in-out;
                
                .inner {

                    padding: 36px;

                    img {
                        margin-bottom: 36px;
                    }

                    h2 {
                        font: Bold 22px/33px Open Sans;
                        letter-spacing: -0.55px;
                        color: #223654;
                        margin-bottom: 12px;                    
                    }

                    p {
                        font-weight: 500;
                        font-family: 'Open Sans', sans-serif;
                        font-style: italic;
                        font-size: 16px;
                        line-height: 28px;
                        letter-spacing: 0.16px;
                        color: #223654;                  
                    }
                }

                &:hover, &:focus, &:active {
                    text-decoration: none;
                    top: -5px;
                    outline: none;
                    border-color: #84ABE0;
                    
                    h2, p {
                        color: #2B7DD6
                    }

                    img {
                        filter: saturate(7.7);  // TODO Remplacer par 100% opacité avec les bonnes images -- confirmer avec Jordane
                    }
                }
            }          
        }
    }
}