.vignettes {

    text-align: center;


    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        
        li {

            margin-bottom: 30px;

            @include media-breakpoint-between(sm, md) {

                float: left;
                $largeur-vignette-md: 48%;
                $marge-vignette-md: 4%;  
                width: $largeur_vignette-md;           
                margin-right: $marge-vignette-md;
                margin-bottom: $marge-vignette-md;

                &:nth-child(even) {

                    margin-right: 0;
                }

                &:nth-child(5) {

                    margin-left: ($largeur-vignette-md / 2) + 2.5;
                    margin-right: 0;
            
                }

            }
            
            @include media-breakpoint-up(lg) {

                float: left;
                $largeur-vignette: 31.532%;
                $marge-vignette: 2.703%;  
                width: $largeur_vignette;           
                margin-right: $marge-vignette;
                margin-bottom: $marge-vignette;

                &:nth-child(3) {

                    margin-right: 0;
               
                }

                &:nth-child(4) {

                    margin-left: $largeur-vignette / 2;
            
                }  

            }            

            a {

                display: block;
                border: 2px solid #DAE6F0;
                border-radius: 5px;                 
                height: 300px;
                text-align: center;
                color: black;  
                position: relative;
                top: 0;                
                transition: all .3s ease-in-out;

                .inner {

                    padding: 36px;

                    img {
                        margin-bottom: 36px;
                    }

                    h2 {
                        font: Bold 22px/33px Open Sans;
                        letter-spacing: -0.55px;
                        color: #223654;
                        margin-bottom: 12px;                    
                    }

                    p {
                        font-weight: 500;
                        font-family: 'Open Sans', sans-serif;
                        font-style: italic;
                        font-size: 16px;
                        line-height: 28px;
                        letter-spacing: 0.16px;
                        color: #223654;                  
                    }
                   
   
                }

                &:hover {
                    text-decoration: none;
                    border-color: #3374CC;
                    top: -5px;
                    opacity: 80%;
                }

                img {
                    display: block;
                    margin: 0 auto;
                }
            }          
        }
    }
}